<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<body>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>New article</h1>
            </div> 
            <div class="card-body">
                <form method="post" action="/articles/save">
                    <input class="form-control" type="text" name="title" placeholder="Definy the article title">
                    <br>
                    <textarea class="form-control" placeholder="Write your article here" name="body" id="article_text"></textarea>
                    <br>
                    <label>Category</label>
                    <select class="form-control" name="select_category">
    
                        <% categories.forEach((category) => {  %>
                            <option value="<%= category.id %>"><%= category.title%></option>
                        <% }) %>    
    
                    </select>
                    <br>
                    <button class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ("../../partials/footer.ejs") %>
<script src="/tinymce/tinymce.min.js"></script>

<script>

    tinymce.init({
        selector: '#article_text',
        plugins: [
            'advlist autolink link image lists print preview hr searchplace wordcount fullscreen isertdatetime save media table paste emoticons'
        ]
    })

</script>